{% extends 'base.html.twig' %}

{% block title %}
Gestionnaire d'hôtels Hb-HotelManager
{% endblock %}

{% block content %}

    <div class="text-center">
        <h1>Bienvenue sur votre gestionnaire d'hotel HB Hotel Manager !</h1>
    </div>

    <hr>

    <div class="card text-center mb-3">
        <div class="card-header">
            <strong>Actions</strong>
        </div>
        <div class="card-body">
            <a href="{{ env.base_path ~ '/clients/new/'}}" class="btn btn-primary">
                Créer un nouveau client
            </a>

            <a href="{{ env.base_path ~ '/rooms/new/'}}" class="btn btn-secondary">
                Créer une nouvelle chambre
            </a>
        </div>
    </div>

    <div class="card">
        <div class="card-header text-center"><strong>Liste des chambres</strong>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Numéro de chambre</th>
                        <th>Réservation</th>
                        <th>Occupation</th>
                        <th>Date de départ du client</th>
                        <th>Date d'arrivée du prochain client</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                
                <tbody>
                    {% for room in rooms %}
                    <tr>
                        <td>{{room.number}}</td>
                        <td>?</td>
                        <td>?</td>
                        <td>?</td>
                        <td>?</td>
                        <td>
                            <a href="{{ env.base_path ~ '/rooms/' ~ room.id  }}" class="btn btn-xs btn-primary">
                                <i class="fa fa-search" aria-hidden="true"></i>
                        </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}